<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Upload Base64</title>
</head>

<body>
    <form  action="/api/upload" method="POST" enctype="application/x-www-form-urlencoded">
        FileName:<br>
        <input name="fileName" type="text" />
        <br>
        Base64:
        <br>
        <textarea name="base64" type="textarea" cols="60" rows="10"></textarea>
        <br>
        <!-- Botão de submit -->
        <input type="submit" value="Enviar arquivo" />
    </form>
</body>

</html>